
@(param: Any)

<!-- Button trigger modal -->
<button style="padding: 5px 29px !important;" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#empModal">
    Add Employee
</button>

<!-- Employee Form Modal -->
<form id="accountForm" role="form">
    <div class="modal fade" id="empModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Employee Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="text" class="form-control" id="date" name="date" placeholder="Date" required>
                    </div>

                    <div class="form-group">
                        <label for="io">IO</label>
                        <input type="io" class="form-control" id="io" name="io" placeholder="IO" required>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="text" class="form-control" id="amount"  name="amount" placeholder="Amount" required>
                    </div>

                    <div class="form-group">
                        <label for="balance">Balance</label>
                        <input type="text" class="form-control" id="balance"  name="balance" placeholder="Balance" required>
                    </div>

                    <div class="form-group">
                        <label for="reason">reason</label>
                        <input type="text" class="form-control" id="reason"  name="reason" placeholder="Reason" required>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button id="submit" type="submit" class="btn btn-primary"   >Save </button>
                </div>
            </div>
        </div>
    </div>
</form>