
@(param: Any)

<!-- Button trigger modal -->
<button style="padding: 5px 29px !important;" id = "insert_button" type="button" class="btn btn-success btn-lg " data-toggle="modal" data-target="#detailModal">
    添加收支条目
</button>

<button style="padding: 5px 29px !important;" id = "query_button" type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#queryModal">
    查询
</button>


<form id="detailForm" role="form">
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">账目详情</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="date">日期</label>
                        <input type="date" class="form-control" id="date" name="date" placeholder="日期"  required>
                    </div>

                    <div class="form-group">
                        <label for="user">用户</label>
                        <select  class="form-control" id="user" name="user" placeholder="用户" default="粟样丹" required>
                            <option value="粟样丹">粟样丹</option>
                            <option value="Marvin">Marvin</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="io">收入/支出</label>
                        <select  class="form-control" id="io" name="io" placeholder="收入/支出" default="支出" required>
                            <option value="收入">收入</option>
                            <option value="支出">支出</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="kind">类型</label>
                        <select  class="form-control" id="kind" name="kind" placeholder="类型" default="工资" required>
                            <option value="饮食">饮食</option>
                            <option value="工资">工资</option>
                            <option value="交通">交通</option>
                            <option value="住房">住房</option>
                            <option value="衣着">衣着</option>
                            <option value="日用品">日用品</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="amount">数目</label>
                        <input type="number" class="form-control" step="0.01" id="amount"  name="amount" placeholder="数额" required>
                    </div>

                <!--    <div class="form-group">
                        <label for="balance">Balance</label>
                        <input type="number" class="form-control" step="0.01" id="balance"  name="balance" placeholder="Balance" required>
                    </div>-->

                    <div class="form-group">
                        <label for="reason">备注</label>
                        <input type="text" class="form-control" id="reason"  name="reason" placeholder="备注" required>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <button id="submit" type="submit" class="btn btn-primary"   >Save </button>
                </div>
            </div>
        </div>
    </div>
</form>